<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.carlostessier.mispruebas" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pruebas1" >
        </activity>
        <activity
            android:name=".Ciclodevida"
            android:label="@string/title_activity_ciclodevida"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Pulsame" >
        </activity>
        <activity
            android:name=".Intents_Act_01"
            android:label="@string/title_activity_intents__act_01"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Intents_Act_01_b"
            android:label="@string/title_activity_intents__act_01_b"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Intents_Act_02"
            android:label="@string/title_activity_intents__act_02"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Intents_Act_02_b"
            android:label="@string/title_activity_intents__act_02_b"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Intents_Act_03"
            android:label="@string/title_activity_intents__act_03"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Intents_Act_03_b"
            android:label="@string/title_activity_intents__act_03_b"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
